<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="inicio.component.css">
</head>
<body style="background-color: rgb(255, 255, 255); background-image: url(https://www.canaldelcongreso.gob.mx/assets/img/noticias/ea510c20e97c7c9519ef59483c4a11e1.jpg); 
background-repeat: no-repeat; background-position: top;">
    <br>
    <h1 >Bankblood</h1>
    <p></p>
    <p>Es un proyecto para mejorar y encontrar más rápido a personas que puedan donar
    <br> <br> <br>
    <h2>Dona de Corazón</h2>
    <p>Hoy necesitamos tu ayuda para ayudar a alguien más, si deseas donar registrate
        <br> o checa en nuestro apartado en que hospitales se necesita donadores
    <br> <br>
    <h3>La realidad en México</h3>
    <p>La tasa de donadores de sangre es muy baja, y esto afecta de manera catastrófica a la salud
        <br> y la vida de la población. Muchos nos hemos topado alguna vez con problemas para encontrar
        <br>  donadores de sangre o plaquetas, ya que no logramos completar a los donadores, no encontramos 
        <br>  donadores o el proceso es muy tardado, y esto también llega a generar una frustración por la falta de ayuda.
    <br> <br> <br>
    <button class= "btn btn-primary" routerLink="/register">Registrarse</button>
</body>
</html>