<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <form action="">
        <ul>
                <input type="text" id="username" name="user" placeholder="Usuario">
                <br><br>
                <input type="password" id="password" name="pass" placeholder="Contraseña">
                <br><br>
                <button>Iniciar Sesión</button>
        </ul>
    </form>
</body>
</html>
