<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requisitos</title>
</head>
<body>
    <p></p>
    <h1>Requisitos</h1>
    <br> 
        <ol>- Acudir con una identificación oficial con fotografía y vigente
            (INE, pasaporte, cédula profesional, credencial ADIMSS, cartilla de salud vigente, licencia de manejo)</ol>
        <ol>- Edad de 18 a 65 años.</ol>
        <ol>- Peso mayor de 50 kilogramos.</ol>
        <ol>- Ayuno mínimo de cuatro horas (evita consumir alimentos con grasa 
            24 horas antes de la donación). Durante las cuatro horas de ayuno solo puedes ingerir: jugos, frutas (excepto plátano, mamey y aguacate), té, café solo y mantenerse hidratado.</ol>
        <ol>- No exceder horas de ayuno.</ol>
        <ol>- No haber estado enfermo de gripe, tos, diarrea o infección dental en los últimos 14 días.</ol>
        <ol>- No haber tomado medicamentos en los últimos cinco días.</ol>
        <ol>- No haber estado en tratamiento de endodoncia, acupuntura o haberse practicado tatuajes o perforaciones en los últimos 12 meses.</ol>
        <ol>- No haber sido operado en los últimos seis meses.</ol>
        <ol>- No haberse vacunado en los últimos 30 días.</ol>
        <ol>- No haber ingerido bebidas alcohólicas en 72 horas previas a la donación.</ol>
        <ol>- Si tienes la presión arterial alta y estás controlada o controlado, puedes ser candidato a donación.</ol>
</body>
</html>